section.wrapper
  .row
    .col-lg-12
      section.panel
        header.panel-heading
          | 员工考勤记录
        .pull-right
          .col-sm-5
            #datetimepicker-select.input-group.date
              input.form-control(type='text', name='selecttime')
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
          .col-sm-2
            button.btn.btn-primary.btn-select-daykaoqin 查询
        #kaoqinSection
