section.wrapper
  .row
    .col-lg-12
      section.panel
        header.panel-heading
          | 员工考勤记录
        .pull-right
          .col-sm-5
            #datetimepicker-select.input-group.date
              input.form-control(type='text', name='selecttime')
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
          .col-sm-1
            button.btn.btn-success.btn-select-daykaoqin 查询
          .col-sm-3
            button.btn.btn-primary.btn-getxlsx 生成选择日期的考勤报表
          .col-sm-3
            button.btn.btn-primary.btn-tochidao 检索员工迟到信息
        #kaoqinSection
